NODE_VERSION=20
FIZA_API_BASE_URL=https://fizahub.vn/api-v2
FIZA_API_KEY=
QR_ORDER_FIREBASE_SERVICE_ACCOUNT_BASE64=
QR_ORDER_WEB_BASE_URL=https://order.fizahub.vn
QR_ORDER_CORS_ORIGIN=https://order.fizahub.vn
QR_ORDER_COOKIE_SAMESITE=None
QR_ORDER_DEBUG_API=0
